<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to my Home Page</h1>
        </div>
        {% if name %}
            <h2>Thank You for registering {{name}}</h2>
        {% else %}
            <h2>Visit /app1 to signup </h2>
        {% endif %}
    </div>
    
</body>
</html>