<!DOCTYPE html>
{% extends 'basic/base.html'%}
    {% block title_block %}
        LOGIN
    {% endblock %}

    {% block body_block %}
        <div class="container">
            <div class="jumbotron">
                <h1>WELCOME TO THE LOGIN PAGE</h1>
            </div>
            <div>
                <form method="post">
                    {{ form.as_p }}
                    <input type="submit" value="SUBMIT" class="btn btn-primary">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endblock %}