<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Record</title>
    <link rel="stylesheet" href="{% static "css/styles1.css" %}">
</head>
<body>
    <h1>Hi welcome to my first app</h1>
    <h2>Here is a table of access records</h2>

    <div class="records">
        {% if records %}
            <table>
                <th>Name</th>
                <th>Date</th>

                {% for record in records %}
                <tr>
                    <td>{{record.name}}</td>
                    <td>{{record.date}}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        <p>
            No Access Records found!
        </p>
        {% endif %}

    </div>
    
</body>
</html>