{% extends 'basic_app/base.html' %}
{% block title_block %}
    login
{% endblock %}
{% block body_block %}
    <div class="jumbotron">
        <h1>Log In</h1>
        <form action="{% url 'base:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username">
            <label for="password">Password: </label>
            <input type="password" name="password">
            <input type="submit" value="LOGIN" class="btn btn-primary">
        </form>
    </div>
{% endblock %}