body{
	background-color: #011627;
	border: 50px solid #2EC4B6;
	border-top: 0px;
	color: white;
	text-align: center;
	font-size: 1.25em;
}

.main{
	padding: 0px 20%;
}

p{
	padding: 7% ;
}

.form{
	margin-top: 2.5%;
}

.form label{
	margin: auto	;
}

.btn{
	padding: 5% 2.5%;
	background-color: yellow;
	color: black;
	margin-bottom: 7%;
	border-radius: 25%;
}

input{
	padding: 1.25%;
}

input[type="text"], input[type="email"]{
	width: 50%;
}