{% extends 'posts/post_base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    LIST OF POSTS
{% endblock %}

{% block prepost %} 
    <div class="col-md-4">
        {% if request.user.is_authenticated %}
            <div class="card card-with-shadow">
                <div class="content">
                    <h3 class="title">Your Groups</h3>
                    <ul class="list-unstyled">
                        <!-- {% for member_group in user_groups %}
                            <li class="group li-with-bullet">
                                <a href="{% url 'groups:single' slug=member_group.group.slug %}">{{member_group.group.name}}</a>
                            </li>
                        {% endfor %} -->
                        {% for member_group in request.user.user_groups.all %}
                            <li class="group li-with-bullet">
                                <a href="{% url 'groups:single' slug=member_group.group.slug %}">{{member_group.group}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="card card-with-shadow">
            <div class="content">
                <h3 class="title">Other Groups</h3>
                <ul class="list-unstyled">
                <!-- {% for other_group in other_groups %}
                    <li class="group li-with-bullet">
                        <a href="{% url 'groups:single' slug=other_group.slug %}">{{other_group.group.name}}</a>
                    </li>
                {% endfor %} -->
                    {% for other_group in other_groups %}
                        <li class="group li-with-bullets">
                            <a href="{% url 'groups:single' slug=other_group.slug %}">{{other_group}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block post-content %}
    <div class="col-md-8">
        <h2>Posts</h2>
        <a href="{% url 'posts:create' %}" class="btn btn-md btn-fill btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>CREATE NEW POST
        </a>
        {% for post in post_list %}
            {% include 'posts/_post.html' %}
        {% endfor %}
    </div>
{% endblock %}


