{% extends 'posts/post_base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    USER POST DETAILS
{% endblock %}

{% block prepost %}
    <div class="col-md-4">
        <h1>@{{post_user.username}}</h1>
    </div>
    {% endblock %}
    
    {% block post-content %} 
    <div class="col-md-8">
        {% for post in post_list %}
            {% include 'posts/_post.html'%} 
        {% endfor %}

        {% if post_list.count == 0 %}
            <h3>No posts by the user yet</h3>
            <a href="{% url 'posts:create' %}" class="btn btn-md btn-fill btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span>CREATE NEW POST
            </a>
        {% endif %}
    </div>

{% endblock %}
